{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
      {% block title %}
        ViandasGo - Almorzá eficiente
      {% endblock %}
    </title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no" />

    {% comment %}Lineicons{% endcomment %}
    <link rel="stylesheet" href="https://cdn.lineicons.com/4.0/lineicons.css" />

    {% comment %}Our general styling{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      
      gtag('config', '{{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}');
    </script>

    {% block extra_head %}

    {% endblock %}
  </head>

  {% comment %}TODO: we're forcing light theme here. We have to fix the dark mode variables and remove this data-theme param{% endcomment %}
  <body data-theme="light">
    {% block header %}
      <header>header</header>
    {% endblock %} {% block content %}

    {% endblock %}
    <footer class="footer">footer</footer>
  </body>
</html>
