{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="es">
  <head>
    <title>
      {% block title %}
        ViandasGo - Come sano y no pierdas tiempo
      {% endblock %}
    </title>

    {% comment %}Tailwind{% endcomment %}
    {% tailwind_css %}

    {% comment %}Alpine{% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>

    {% comment %}HTMX{% endcomment %}
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1.0, user-scalable=no" />

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      
      gtag('config', '{{ GOOGLE_ANALYTICS_MEASUREMENT_ID }}');
    </script>

    {% block extra_head %}

    {% endblock %}
  </head>

  <body class="flex flex-col min-h-screen text-slate-700">
    {% block header %}
      {% include 'header.html' %}
    {% endblock %}

    <main class="flex-1">
      {% block content %}

      {% endblock %}
    </main>

    {% block footer %}
      {% include 'footer.html' %}
    {% endblock %}
  </body>
</html>
