{% extends 'base.html' %} {% block title %}
  ViandasGo - Come sano y no pierdas tiempo
{% endblock %}
{% load static %}

{% block extra_head %}
  {% comment %}Dependencies of Splide for the carousel{% endcomment %}
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
{% endblock %}

{% block content %}
  <section class="relative w-screen h-screen">
    <div class="absolute inset-0 z-0">
      <div class="splide w-full h-full" role="group" aria-label="Splide Basic HTML Example">
        <div class="splide__track w-full h-full">
          <ul class="splide__list w-full h-full">
            <li class="splide__slide w-full h-full relative">
              <img src="{% static 'img/car1.jpg' %}" alt="Slide 01" class="w-full h-full object-cover" />
              <div class="absolute inset-0 bg-gradient-to-t from-gray-50 to-transparent"></div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="relative z-10 mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
      <div class="mx-auto max-w-xl text-center">
        <h1 class="text-3xl font-extrabold sm:text-5xl">
          ¿Ya sabes qué vas a comer hoy?
          <strong class="font-extrabold text-red-700 sm:block">Solucionemos eso.</strong>
        </h1>
        <div class="mt-8 flex flex-wrap justify-center gap-4">
          <a class="block w-full rounded bg-red-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-red-700 focus:outline-none focus:ring sm:w-auto" href="#">Ingreso</a>
          <a class="block w-full rounded px-12 py-3 text-sm font-medium text-red-600 shadow hover:text-red-700 focus:outline-none focus:ring sm:w-auto bg-white hover:bg-gray-100" href="#">Registro</a>
        </div>
      </div>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var splide = new Splide('.splide');
      splide.mount();
    });
  </script>
{% endblock %}
